<div class="new-plan-info-box">
<!--	<div class="icon-wrap" aria-hidden="true">-->
<!--		<mat-icon>info</mat-icon>-->
<!--	</div>-->
	<div class="content">
		<div class="title">{{ 'PLAN-BLUEPRINT-PREVIEW.NEW-PLAN.TITLE' | translate }}</div>
		<div class="subtitle">{{ 'PLAN-BLUEPRINT-PREVIEW.NEW-PLAN.EXPLANATORY-TEXT-1' | translate }}</div>
		<div class="subtitle"><span class="keypoint">{{ 'PLAN-BLUEPRINT-PREVIEW.NEW-PLAN.KEYPOINT-2' | translate }}</span><span>{{ 'PLAN-BLUEPRINT-PREVIEW.NEW-PLAN.EXPLANATORY-TEXT-2' | translate }}</span></div>
		<div class="subtitle"><span class="keypoint">{{ 'PLAN-BLUEPRINT-PREVIEW.NEW-PLAN.KEYPOINT-3' | translate }}</span><span>{{ 'PLAN-BLUEPRINT-PREVIEW.NEW-PLAN.EXPLANATORY-TEXT-3' | translate }}</span></div>
		<div class="subtitle"><span class="keypoint">{{ 'PLAN-BLUEPRINT-PREVIEW.NEW-PLAN.KEYPOINT-4' | translate }}</span><span>{{ 'PLAN-BLUEPRINT-PREVIEW.NEW-PLAN.EXPLANATORY-TEXT-4' | translate }}</span></div>
	</div>
</div>
