<div class="new-plan-info-box">
<!--	<div class="icon-wrap" aria-hidden="true">-->
<!--		<mat-icon>info</mat-icon>-->
<!--	</div>-->
	<div class="content">
		<div class="title">{{ 'PLAN-BLUEPRINT-PREVIEW.NEW-PLAN.TITLE' | translate }}</div>
		<div class="subtitle">{{ 'PLAN-BLUEPRINT-PREVIEW.NEW-PLAN.EXPLANATORY-TEXT-1' | translate }}</div>
		<div class="subtitle">{{ 'PLAN-BLUEPRINT-PREVIEW.NEW-PLAN.EXPLANATORY-TEXT-2' | translate }}</div>
		<div class="subtitle">{{ 'PLAN-BLUEPRINT-PREVIEW.NEW-PLAN.EXPLANATORY-TEXT-3' | translate }}</div>
		<div class="subtitle">{{ 'PLAN-BLUEPRINT-PREVIEW.NEW-PLAN.EXPLANATORY-TEXT-4' | translate }}</div>
	</div>
</div>
